<div fxLayout="column" fxFlexFill>
  <app-navbar fxFlex [logoutDirectly]="false"></app-navbar>
  <div fxFlex>
    <div fxFlexFill fxLayout="row">
      <main class="container main" fxFlex fxFlexFill>
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-sm-12 col-12">
            <div class="header center" i18n="@@guarantor-info-header">Stuff item</div>
          </div>
        </div>
        <div class="row justify-content-center mr-lg-5 mr-md-5 mr-sm-1 mr-xs-0">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <form *ngIf="stuffUnit" [formGroup]="stuffForm">
              <div class="form-group ">
                <label class="field-label" for="name" i18n="@@guarantor-info-other-loans">Item name</label>
                <input type="text" class="form-control input-text" id="name"
                  formControlName="stuffName" [(ngModel)]="stuffUnit.stuffName">
                <label class="field-label" for="message" i18n="@@guarantor-info-monthly-income">Contact form message text</label>
                <input type="text" class="form-control input-text" id="message"
                  formControlName="defaultMessage" [(ngModel)]="stuffUnit.defaultMessage">
              </div>
              <button (click)="saveInput()" type="button" class="btn shadow btn-primary button-width-lg button-save">
                Save
              </button>
              <button (click)="cancel()" type="button" class="btn shadow btn-primary button-width-lg button-save button-cancel">
                Cancel
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
