<div fxLayout="column" fxFlexFill>
  <app-navbar fxFlex [logoutDirectly]="true"></app-navbar>
  <div fxFlex fxFlexFill>
    <div fxLayout="row" fxFlex fxFlexFill>
      <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="space-between center">
        <main class="container padding-top-3">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <div i18n="@@signIn-title" class="header">
                <p>Sign up</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center pb-5">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <!--validation-->
              <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 col-12">
                  <div *ngIf="usernamew.touched && usernamew.invalid " class="alert alert-danger">
                    <div i18n="@@signIn-validation-username-required">
                      <p>Please enter username.</p>
                    </div>
                  </div>
                  <div *ngIf="emailw.touched && emailw.invalid " class="alert alert-danger">
                    <div i18n="@@signIn-validation-email-required">
                      <p>Please enter valid email.</p>
                    </div>
                  </div>
                  <div *ngIf="passwordw.touched && passwordw.invalid" class="alert alert-danger">
                    <div i18n="@@signIn-validation-password-required">
                      <p>Please enter password.</p>
                    </div>
                  </div>
                  <div *ngIf="repeatPasswordw.touched && repeatPasswordw.invalid" class="alert alert-danger">
                    <div i18n="@@signIn-validation-repeatPassword-required">
                      <p>Please repeat password.</p>
                    </div>
                  </div>
                  <div *ngIf="passwordWeak " class="alert alert-danger">
                    <div i18n="@@signIn-validation-password-weak">
                      <p>Your password is too weak. Password must contain symbols, numbers and uppercase letters.</p>
                    </div>
                  </div>
                  <div *ngIf="passwordsNotMatch " class="alert alert-danger">
                    <div i18n="@@signIn-validation-username-match">
                      <p>Entered passwords do not match.</p>
                    </div>
                  </div>
                  <!--input-->
                  <span class="light-blue-text" i18n="@@signIn-input-usernameLabel">Username:</span>
                  <input i18n-placeholder="@@signIn-input-usernamePlaceholder" placeholder="username"
                         type="text clearfix" class="form-control mt-2 input-field" required
                         autofocus [ngClass]="{'highlight': usernamew.touched  ? usernamew.invalid : false}"
                         [(ngModel)]="userAccountDto.username" #usernamew="ngModel" [disabled]="submitted">

                  <span class="light-blue-text" i18n="@@signIn-input-usernameLabel">Email:</span>
                  <input i18n-placeholder="@@signIn-input-usernamePlaceholder" placeholder="email"
                         type="email"  class="form-control mt-2 input-field" required email
                         [ngClass]="{'highlight': emailw.touched  ? emailw.invalid : false}"
                         [(ngModel)]="userAccountDto.defaultEmail" #emailw="ngModel" [disabled]="submitted">

                  <span class="light-blue-text" i18n="@@signIn-input-passwordLabel">Password:</span>
                  <input i18n-placeholder="@@signIn-input-passwordPlaceholder" placeholder="password"
                         type="password" class="form-control mt-2 input-field" required
                          [ngClass]="{'highlight': passwordw.touched  ? passwordw.invalid || passwordWeak || passwordsNotMatch: false}"
                         [(ngModel)]="userAccountDto.password" #passwordw="ngModel" [disabled]="submitted">

                  <span class="light-blue-text" i18n="@@signIn-input-passwordLabel">Repeat password:</span>
                  <input i18n-placeholder="@@signIn-input-repeatPasswordPlaceholder" placeholder="repeat password"
                         type="password" class="form-control mt-2 input-field" required
                         [ngClass]="{'highlight': repeatPasswordw.touched  ? repeatPasswordw.invalid || passwordWeak || passwordsNotMatch : false}"
                         [(ngModel)]="repeatPassword" #repeatPasswordw="ngModel" [disabled]="submitted">

                  <button i18n="@@signIn-button" type="submit" class="btn btn-primary shadow mt-3"
                          [ngClass]="[(usernamew.invalid || emailw.invalid || passwordw.invalid )? 'vf-btn-disabled' : 'btn-primary']"
                          style="min-width: 12rem;" (click)="register()" [disabled]="submitted">Sign up
                  </button>

                  <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                      <div i18n="@@signIn-termsOfService" class="sub-header">
                        <p>
                          By clicking “Sign up”, you agree to our
                          <a href='https://help.github.com/en/github/site-policy/github-terms-of-service' target="_blank">Terms of Service</a>
                          and
                          <a href='https://help.github.com/en/github/site-policy/github-privacy-statement' target="_blank">Privacy Statement</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>


