<div fxLayout="column" fxFlexFill>
  <app-navbar fxFlex [logoutDirectly]="true"></app-navbar>

  <div fxFlex fxFlexFill>

    <div fxLayout="row" fxFlex fxFlexFill>

      <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="space-between center">

        <main class="container padding-top-3">

          <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <div i18n="@@signIn-title" class="header">
                <p>Login</p>
              </div>
            </div>
          </div>

          <div class="row justify-content-center pb-5">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <!--validation-->

              <div class="col-lg-8 col-md-10 col-sm-12 col-12">
                <div *ngIf="usernamew.touched && usernamew.invalid" class="alert alert-danger">
                  <div i18n="@@signIn-validation-username-required">
                    <p>Please enter username.</p>
                  </div>
                </div>
                <div *ngIf="passwordw.touched && passwordw.invalid " class="alert alert-danger">
                  <div i18n="@@signIn-validation-username-required">
                    <p>Please enter password.</p>
                  </div>
                </div>
                <!--input-->
                <span class="light-blue-text" i18n="@@signIn-input-usernameLabel">Username:</span>
                <input i18n-placeholder="@@signIn-input-usernamePlaceholder" placeholder="username"
                       type="text clearfix" class="form-control mt-2 input-field" required
                       [ngClass]="{'highlight': usernamew.touched  ? usernamew.invalid : false}"
                       [(ngModel)]="userLoginDto.username" #usernamew="ngModel" [disabled]="submitted">

                <span class="light-blue-text" i18n="@@signIn-input-passwordLabel">Password:</span>
                <input i18n-placeholder="@@signIn-input-passwordPlaceholder" placeholder="password"
                       type="password" class="form-control mt-2 input-field" required
                       [ngClass]="{'highlight': passwordw.touched  ? passwordw.invalid: false}"
                       [(ngModel)]="userLoginDto.password" #passwordw="ngModel" [disabled]="submitted">

                <div class="row">
                  <div class="row-cols-1">
                    <button i18n="@@signIn-button" type="submit" class="btn btn-primary shadow mt-3"
                            [ngClass]="[(usernamew.invalid || passwordw.invalid )? 'vf-btn-disabled' : 'btn-primary']"
                            style="min-width: 12rem;" (click)="login()"
                            [disabled]="submitted || usernamew.invalid || passwordw.invalid">Login
                    </button>
                  </div>
                  <div class="row-cols-1 offset-2">
                    <button i18n="@@signIn-button" type="submit" class="btn btn-primary shadow mt-3 small-text" style="max-width: 12rem;"
                            (click)="signInWithGoogle()">
                      <svg-icon src="assets/img/google.svg"></svg-icon>
                      Google account
                    </button>
                  </div>
                </div>
                <div class="row">
                <button i18n="@@signIn-button" type="submit" class="btn btn-primary shadow mt-3 btn-primary"
                        style="min-width: 12rem;" (click)="register()" [disabled]="submitted">New to Call My Owner?
                  Create an account.
                </button>
                </div>
              </div>

            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
