.margin {
  margin-top: 0.7rem;
}

.bottom-center {
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
}

.bottom-logo {
  border-width: 0;
}

.gray-text{
  color: #8c9098;
  font-size: 1rem;
}

.checkbox-label{
  padding-left: 1rem;
}

.sub-header {
  color: #222222;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  max-width: 45rem;
}

.limited-height {
  height: 10%;
  width:100%
}
.logo {
  background-image: url("../../../assets/img/lostandfound.jpeg");
  width: 325px;
  height: 52px;
  display: block;
}

.input-field {
  margin-bottom: 1rem;
}
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.google-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 12rem;
  height: 2.6rem;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
    cursor: pointer;
  }
  &:active {
    background: $button-active-blue;
  }
  img {
    border: none;
  }
}
.testimonial-image {
  background-image: url("https://cdn.happeo.com/misc/custom/custom_login_415_banner.png");
  background-size: 20rem;
  width: 20rem;
  height: 39rem;
}
.logo {
  display: inline-block;
  background-image: url("/assets/img/backoffice/visma_finance_logo.svg");
  width: 24rem;
  height: 2rem;
  background-size: 100%;
}
.title {
  font-size: 2.3rem;
  margin-top: 4rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  color: #2a3443;
}
.subtitle {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  color: #69707b;
  font-size: 1.2rem;
}
.help {
  font-size: 0.9rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #69707b;
  margin-top: 1em;
}
.man-image {
  display: block;
  width: 26rem;
  height: 49rem;
  background-size: 100%;
  position: fixed;
  top: 1rem;
  left: 0rem;
  background-image: url("/assets/img/backoffice/custom_login_415_banner.png");
}
