.limited-height {
  height: 5%;
  width: 100%
}

.center-window {
  width: 50rem;
}

.sub-header {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
}


.field-label {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
  width: 100%;
  margin-top: 1rem;
}


.input-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

