.text-message{
  width: 100%;
  height: 100%;
}

.button-save {
  min-width: 100pt;
  margin: 10pt 0 20pt;
  margin-left: 10pt;
}
.button-cancel {
  min-width: 100pt;
  margin: 10pt 0 20pt;
  margin-left: 60pt;
}

.sub-header {
  margin-top: 8pt;
  margin-bottom: 8pt;
  font-size: 15pt;
  line-height: 15pt;
  font-family: PFBeauSansPro-Thin, sans-serif;
}

.text {
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
}
