<div fxLayout="column" fxFlexFill>
  <app-navbar fxFlex [logoutDirectly]="false"></app-navbar>
  <div fxFlex>
    <div fxFlexFill fxLayout="row">
      <main class="container main" fxFlex fxFlexFill>
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div id="userMessage" *ngIf="ownersDefaultMessage">
              <div class="header center" i18n="@@guarantor-info-header">Stuff owner says:</div>
              <div class="sub-header center" i18n="@@guarantor-info-header">{{ownersDefaultMessage}}</div>
            </div>
            <div class="header center" i18n="@@guarantor-info-header">Send your message to stuff owner:</div>
            <div class="sub-header center" i18n="@@guarantor-info-header">* Don't forget to include your contact
              information,<br>
              if you want the owner to get in touch with you.
            </div>
          </div>
        </div>
        <div class="row justify-content-center mr-lg-5 mr-md-5 mr-sm-1 mr-xs-0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div>
              <textarea [(ngModel)]="message" class="text-message"></textarea>
            </div>
            <button (click)="sendMessage()" type="button" class="btn shadow btn-primary button-width-lg button-save">
              Send
            </button>
            <button (click)="cancel()" type="button"
                    class="btn shadow btn-primary button-width-lg button-save button-cancel">
              Cancel
            </button>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
