.message-title {
  width: 100%;
  text-align: center;
  font-size: 2.1875rem;
  font-family: PFBeauSansPro-Thin, sans-serif
}

.message-content{
  margin-top: 0.3125rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif
}
.close-icon{
  padding-top: 0.4375rem;
  padding-right: 0.4375rem;
}

.close{
  outline: none;
}



