<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(cornerBtnReason)">
    <span aria-hidden="true">
      <svg-icon src="assets/img/close.svg" class="close-icon" [svgStyle]="{'width.rem':'1.5rem','fill':'#000000'}"
                [applyCss]="false"></svg-icon>
    </span>
  </button>
</div>
<div class="modal-body">
  <div class="message-title">
    {{title}}
  </div>
  <div class="message-content">
    {{content}}
  </div>
</div>
<div class="modal-footer">
  <div class="mx-auto" [ngStyle]="{'width': calcTotalWidth()}">
    <span *ngFor="let btn of buttons">
      <button *ngIf="!spinner" (click)="activeModal.dismiss(btn.reason)"
              type="button" class="btn shadow {{btn.active?'btn-primary':'btn-outline-dark'}} button-width-lg"
              [ngStyle]="{'min-width': '10rem', 'margin': '1.25rem 0 2.25rem ' + btn.marginLeft + 'rem'}">
        {{btn.label}}
      </button>
    </span>
    <img *ngIf="spinner" src="../../assets/img/loans/spinner.gif" width="100%" height="100%" alt="spinner"/>
  </div>
</div>

