.message-title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  line-height: 3rem;
  font-family: PFBeauSansPro-Thin, sans-serif
}

.message-content{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif
}
.close-icon{
  padding-top: 1rem;
  padding-right:1rem;
}

.close{
  outline: none;
}



