.adv-header{
  padding: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
  color: #017BD0;
}
.line-style{
  display:inline-block;
  vertical-align:middle;
  width: 10%;
  height: 10%;
}

.row{
  margin-left: -30rem;
}
