<div fxFlexFill xmlns="http://www.w3.org/1999/html">
  <div fxFlex>
    <div fxFlexFill fxLayout="row">
      <main class="main" fxFlex fxFlexFill>
        <div class="row">

          <div class="row-style with-border">
            <div class="col-lg-1 name-header bold" i18n="@@stuff">Date</div>
            <button class="button-transparent" (click)="changeSortDirection()">
              <svg-icon
                [svgClass]="isDefault ? 'asc':'desc'"
                src="assets/img/down-arrow.svg"></svg-icon>
            </button>
            <div class="col-lg-5 offset-1 name-header bold" i18n="@@message">Message</div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
