
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$call-my-owner-primary: mat-palette($mat-indigo);
$call-my-owner-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$call-my-owner-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$call-my-owner-theme: mat-light-theme($call-my-owner-primary, $call-my-owner-accent, $call-my-owner-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($call-my-owner-theme);

/* You can add global styles to this file, and also import other style files */
@import './scss/theme';


.main {
  padding-top: $navbar-brand-height;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
}

.header {
  color: $light-blue;
  font-size: 20pt;
  line-height: 20pt;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  max-width: 300pt;
}

div, label, input, select, ol {
  font-family: PFBeauSansPro-Thin, sans-serif;
}


.center-window {
  width: 45rem;
  clear:both;
  margin-left:auto;
  margin-right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
