
.my-jumbo{
  display: inline-block;
  width: 20rem;
 height: 20rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0;
  padding-top: 1rem;
}

.sub-header {
  font-size: 2rem;
  line-height: 2rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
  color: #017BD0;
  margin-top: 2rem;
}

.line-style{
  display:inline-block;
  vertical-align:middle;
  width: 10%;
  height: 10%;
}
