<div fxFlexFill xmlns="http://www.w3.org/1999/html">
  <div fxFlex>
    <div fxFlexFill fxLayout="row">
      <main class="main" fxFlex fxFlexFill>
        <div class="row">

          <div class="row-style with-border" *ngIf="stuffUnit">
            <div class="col-md-1 name-header">
              <button class="button-transparent name-header" (click)="editStuff(stuffUnit.id)">
                {{stuffUnit.stuffName}}
              </button>
            </div>
            <div class="col-md-3 col-sm-1 offset-sm-0 offset-md-1 sub-header">{{stuffUnit.defaultMessage}}</div>
            <div class="col-md-1 offset-1 qr">
              <button class="button-transparent" (click)="getMessages(stuffUnit.id)">
                <svg-icon [svgClass]="hasNewMessages? 'unread':'read'"  src="assets/img/message.svg"></svg-icon>
              </button>
            </div>
            <div class="col-md-1 offset-sm-0 offset-md-1 qr">
              <button class="button-transparent"(click)="generateQr(stuffUnit.id)">
                <svg-icon src="assets/img/qr.svg"></svg-icon>
              </button>
              <mat-radio-group
                class="radio-group"
                [(ngModel)]="qrSize">
                <mat-radio-button class="radio-button" *ngFor="let size of sizes" [value]="size">
                  {{size}}
                </mat-radio-button>
              </mat-radio-group>

            </div>
            <div class="col-md-1 offset-sm-0 offset-md-1 qr">
              <button class="button-transparent"(click)="removeItem()">
                <svg-icon src="assets/img/trash.svg"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
