.limited-height {
  height: 5%;
  width: 100%
}

.center-window {
  width: 50rem;
}

.sub-header {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
}

.name-header {
  color: #017BD0;
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-family: PFBeauSansPro-Thin, sans-serif;
}

.button-transparent {
  background-color: transparent;
  border-style: hidden;
  outline: transparent;
}

.with-border {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1.5rem;
}

.row-style {
  display: inline-flex;
  width: 100%;
}

.bold {
  font-weight: bold;
}

svg:hover {
  fill: darkviolet;
}

svg{
  fill: blue;
  width: 2rem;
}

.qr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 3rem;
}

button:hover{
  color: darkviolet;
}
